@font-face {
    font-family: 'gotham_htfbook';
    src: url('fonts/gothamhtf-book-webfont.eot');
    src: url('fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothamhtf-book-webfont.woff2') format('woff2'), url('fonts/gothamhtf-book-webfont.woff') format('woff'), url('fonts/gothamhtf-book-webfont.ttf') format('truetype'), url('fonts/gothamhtf-book-webfont.svg#gotham_htfbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
       font-family: 'gotham_htfbook';
}


.row.MakeItTable {
    display: table;
    width: 100%;
}

.row.MakeItTable .col {
    display: table-cell;
    float: none;
    position: relative;
    vertical-align: middle;
}
/*----------------*/
.glamitude h3, .blue h3{
    font-size: 13px;
    font-style: inherit;
    font-family: sans-serif;
    letter-spacing: 0.3px;
}

.col.span_6.padding-out {
    padding: 0;
}

.col{
    margin: 0;
}
.banner img{
    width: 100%;
/*    max-width: 1365px;*/
    margin: 0 auto;
    padding-top: 85px;
}
.section1{
    background-color: #f1f1f1;
    margin: 0 auto;
    padding-top: 80px;
}

.container1 {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}
.container1 img{
/*    max-width:262px;*/
    width: 100%;
    height: auto;
   
}
.imgcontent{
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
}
.imgcontent h4{
    padding-bottom: 15px;
    text-align: center;
}
/*section 2,4,6,8 (open) */
.section2{
    margin: 11px 0;
}

.blue_color{
    background-color: #181763;
}

/*
.class1{
    background-color: #181763;
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    position: absolute;
    bottom: 0;
    top: 0;
}
.class1 p{
   text-align: right;
    color: #fffffb;
    
}
*/
.para1{
    vertical-align: middle;
    text-align: right;
    padding: 50px 30px 0 30px!important;
    color: #fff;
}
.para1 p{
    font-size: 15px;
    margin-top: 20px;
    line-height: 21px;

}
.blue{
    background-color: white;
   max-width: 185px;
    width: 100%;
    float: right;
    color: #181763;
    position: absolute;
    top: 15%;
    right: 30px; /*-40px;*/
    text-align: right;
    padding: 12px;
    height: auto;
    z-index: 5;
}
.blue h3{
    text-align: center;
    margin: 0 auto;
/*    padding-bottom: 10px;*/

}
.rswm-btn{
    text-align: right;
    padding: 30px 30px 0 30px!important;
}
.section2 img{
   
    width: 100%;

    margin: 0 auto;
    display: block;
    
}
/*section 2,4,6,8 (close)*/

/*section 1,3,5,7 (open)*/

.section3 img{
    display: block;
    width: 100%;
  
    margin: 0 auto;
}
.glamitude_color{
    background-color: #903a7b;
}

.para2{
    vertical-align: middle;
    text-align: left;
    padding: 50px 30px 0 30px;
    color: #fff;
}
.para2 p{
    font-size: 15px;
    margin-top: 20px;
	line-height: 21px;
}
.glamitude h3{
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
/*
    padding-bottom: 5px;
    padding-right: 22px;
    padding-top: 5px;
*/

}
.glamitude{
    background-color: white;
    max-width: 170px;
    width: 100%;
    float: left;
    color: #903a7b;
    position: absolute;
    top: 15%;
    left: 30px;
    text-align: center;
    padding: 12px;
    font-size: 15px;
   
}

/*
.para2{
    padding-left: 11px;
    display: block;
}
*/
/*section 1,3,5,7 (close)*/

.section4{
    margin: 11px 0;
}

.thoughtful_color{
    background-color: #372426;
}


.para3{
    vertical-align: middle;
    text-align: right;
    padding: 15px 10px 0 80px;
    color: #fff;
}
.para3 p{
    font-size: 15px;
    margin-top: 20px;
  
}
.thoughtful{
    background-color: white;
    float: right;
    color: #372426;
    position: absolute;
    top: 15%;
    right: -40px;
    text-align: center;
    padding: 9px;
    max-width: 185px;
    width: 100%;
    height: auto;
    z-index: 5;
}
.thoughtful h3{
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
  
}

.section4 img{
   display: block;
    width: 100%;

    margin: 0 auto;
    
}
/*------------*/
.section5 img{
display: block;
    width: 100%;

    margin: 0 auto;
}

.slowtravel_color{
    background-color: #3c4767;
}
.para4{
    vertical-align: middle;
    text-align:left;
    padding: 0 40px 0 30px;
    color: #fff;
}
.para4 p{
    font-size: 15px;
    margin-top: 20px;
}
.slowtravel h3{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;

}
.slowtravel{
    background-color: white;
    width: 100%;
    float: left;
    color: #3c4767;
    position: absolute;
    top: 15%;
    left: -40px;
    text-align: center;
    padding: 7px 10px;
    height: auto;
    max-width:187px;
    z-index: 5;
}

/*
.para4{
    padding-left: 11px;
}
*/
/*-------------*/
.section6{
    margin: 11px 0;
}
.creativegenesis_color{ 
    background-color: #2e270d;
}

.para5{
    vertical-align: middle;
    text-align: right;
    padding: 15px 10px 0 80px;
    color: #fff;
}
.para5 p{
    font-size: 15px;
    margin-top: 20px;
  
}
.creativegenesis{
    background-color: white;
    max-width: 185px;
    width: 100%;
    float: left;
    color: #2e270d;
    position: absolute;
    top: 15%;
    right: -40px;
    text-align: center;
    padding: 12px;
    height: 40px;
    z-index: 5;
    
}
.creativegenesis h3{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;

}
.section6 img{
    display: block;
    width: 100%;
  
    margin: 0 auto;
    
}
/*section 2,4,6,8 (close)*/

/*section 1,3,5,7 (open)*/


  .section7  {
    margin: 11px 0;
}

.section7 img{
   display: block;
    width: 100%;
 
    margin: 0 auto;
}
.darkopulence_color{
    background-color: #111E2F;
}
.para6{
    vertical-align: middle;
    display: block;
    text-align:left;
    padding: 0 40px 0 30px;
    color: #fff;
}
.para6 p{
    font-size: 15px;
    margin-top: 20px;
}
.darkopulence h3{
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
    font-size: 14px;

}
.darkopulence {
    max-width: 182px;
    background-color: white;
    width: 100%;
    float: left;
    color: #111e2f;
    position: absolute;
    top: 15%;
    left: -40px;
    text-align: center;
    padding: 7px 10px;
    font-size: 15px;

}


}
/*section 1,3,5,7 (close)*/

/*section 2,4,6,8 (open) */
.section8{
    margin: 11px 0;
}

.softromance_color{
    background-color: #5197b1;
}

.para7{
    vertical-align: middle;
    text-align: right;
    padding: 0 10px 0 80px;
    color: #fff;
}
.para7 p{
    font-size: 15px;
    margin-top: 20px;
  
}

.softromance{
    background-color: white;
    width: 100%;
    float: right;
    color: #5197b1;
    position: absolute;
    top: 15%;
    right: -40px;
    text-align: center;
    padding: 12px;
    max-width: 187px;
    height: auto;
    z-index: 5;
}
.softromance h3{
    text-align: center;
    margin: 0 auto;
    

}
.section8 img{
   display: block;
    width: 100%;
  
    margin: 0 auto;
    
}
.reneu-whole-wrap .productZommer {
    margin-bottom: 20px;
}
/*section 2,4,6,8 (close)*/





@media only screen and (max-width:600px) {
    img{
        display: block;
    }
    
.container1 img{
        width: 100%;
        padding:0 11px;
    }
    .blue{
        background-color: white;
        max-width: 185px;
        width: 100%;
        float: none;
        color: #181763;
        top: 15%;
        right: auto; 
        position: relative;
        margin: 10px 0;
        text-align: center;
        padding: 5px;
        height: auto;
        display: inline-block;
        z-index: 5;
    } 
    .para1 {
        vertical-align: middle;
        padding: 0 20px;
        color: #fff;
        display: block;
        width: 100%;
}
    
    .para1 p{
        font-size: 12px;
       text-align: center;
        padding: 10px 0 7px 5px;
    }
    
    .glamitude{
         background-color: white;
        max-width: 185px;
        width: 100%;
        float: none;
        color: #903a7b;
       top: 15%;
        right: auto;
        left:auto;
        position: relative;
        margin: 10px 0;
        text-align: center;
        padding: 5px;
        height: auto;
        display: inline-block;
        z-index: 5;
    } 
    
    .para2 {
        vertical-align: middle;
        text-align: center;
        padding: 0px 15px 10px 6px;
        color: #fff;
}
    .para2 p{
        font-size: 12px;
        text-align: center;
       padding: 10px 0 7px 5px;
    }
    
    .thoughtful{
        background-color: white;
        max-width: 185px;
        width: 100%;
        float: none;
        color: #372426;
        top: 15%;
        right: auto; 
        position: relative;
        margin: 10px 0;
        text-align: center;
        padding: 5px;
        height: auto;
        display: inline-block;
        z-index: 5;
    }
    
    .para3 {
        vertical-align: middle;
         padding: 0px 15px 10px 6px;
        color: #fff;
}
    .para3 p{
        font-size: 12px;
        text-align: center;
        padding: 18px 0 7px 5px;
        
    }
    .slowtravel{
        background-color: white;
        max-width: 185px;
        width: 100%;
        float: none;
        color: #3c4767;
       top: 15%;
        right: auto;
        left:auto;
        position: relative;
        margin: 10px 0;
        text-align: center;
        padding: 5px;
        height: auto;
        display: inline-block;
        z-index: 5;
    }  
    
    .para4{
        vertical-align: middle;
        text-align: center;
        padding: 0px 15px 10px 6px;
        color: #fff;
}
    .para4 p{
        font-size: 12px;
        text-align: center;
        padding: 10px 0 7px 5px;
    }
    
    .creativegenesis{
       background-color: white;
        max-width: 185px;
        width: 100%;
        float: none;
        color: #2e270d;
        top: 15%;
        right: auto; 
        position: relative;
        margin: 10px 0;
        text-align: center;
        padding: 5px;
        height: auto;
        display: inline-block;
        z-index: 5;
    }
    
    .para1 p {
        margin-top: 5px;
    }
    
    .para5 {
        vertical-align: middle;
        padding: 0px 15px 10px 6px;
        color: #fff;
}
    .para5 p{
        font-size: 12px;
       text-align: center;
        padding: 10px 0 7px 5px;
    }
    .darkopulence{
        background-color: white;
        max-width: 185px;
        width: 100%;
        float: none;
         color: #111e2f;
       top: 15%;
        right: auto;
        left:auto;
        position: relative;
        margin: 10px 0;
        text-align: center;
        padding: 5px;
        height: auto;
        display: inline-block;
        z-index: 5;
    }  
    
    .para6 {
        vertical-align: middle;
        text-align: center;
        padding: 0px 15px 10px 6px;
        color: #fff;
}
    .para6 p{
        font-size: 12px;
        text-align: center;
        padding: 10px 0 7px 5px;
    }
    
    .softromance{
        background-color: white;
        max-width: 185px;
        width: 100%;
        float: none;
         color: #5197b1;
        top: 15%;
        right: auto;
        left:auto;
        position: relative;
        margin: 10px 0;
        text-align: center;
        padding: 5px;
        height: auto;
        display: inline-block;
        z-index: 5;
    }  
    .para7 {
        vertical-align: middle;
        padding: 0px 15px 10px 6px;
        color: #fff;
}
    .para7 p{
        font-size: 12px;
         text-align: center;
       padding: 10px 0 7px 5px;
    }
    
    .row.MakeItTable {
        display: block;
        width: auto;
    }
    
    .row.MakeItTable .col {
        display:block;
        float: left;
        text-align:center;
    }
	.business-enquires-text{
		width: 100% !important;
	}
	.business-enquires-text .g-recaptcha{
		width: 100%;
	}
	.business-enquires-text .g-recaptcha div{
	    margin: 0 auto;
	}
	
}
@media only screen and (max-width:567px){
	.section1 .back-button{
		top: auto !important;
    bottom: 10% !important;
	}
	.container1{
		position: relative;
		
	}
}

