/*
    .section1{
        position: relative;
        padding-top:32px !important;
         position: absolute;
    top: 0;
    left: 0;
    right: 0;
    }
*/
.imgcontent h4 {
    font-size: 14px;
}

.section1 .back-button {
    position: absolute;
    top: 2%;
    left: 4%;
    padding: 5px 10px;
    color: #1b1918;
    text-transform: uppercase;
    background-color: #d7b369;
    border: 1px solid #d7b369;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px #ccc;
    cursor: pointer;
}

.imgcontent {
    padding-bottom: 30px !important;
}

.blue {
    cursor: pointer;
}

.section2 {
    position: relative;
}

.section2 > .row.MakeItTable {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
}

.section1 {
    padding-top: 42px;
    margin-right: 15px;
}

.section3 {
    position: relative;
}

.section3 > .row.MakeItTable {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
}

.glamitude {
    cursor: pointer;
}

.section1-slider .slick-prev {
    left: -43px;
    top: 40%;
    z-index: 1;
}

.section1-slider .slick-prev:before {
    color: #ccc;
    font-size: 30px;
}

.section1-slider .slick-next {
    right: -43px;
    top: 40%;
    z-index: 1;
}

.section1-slider .slick-next:before {
    color: #ccc;
    font-size: 30px;
}

.collection-image img {
    /*  transform: scale(1);
            transition: transform 1s ease-in-out;*/
    cursor: pointer;
}

.collection-image {
    overflow: hidden;
}

.collection-image:hover img {
    /* transform: scale(1.3);*/
}

.melange-popup-detail-list p {
    line-height: 24px;
}
.reneu-range-about {
    background: url(https://www.rswm.in/wp-content/uploads/2020/09/1585x549.jpg) no-repeat center center;
}
.aboutContact_form .forBusibess h3,
.aboutContact_form .forBusibess h2,
.aboutContact_form .forBusibess h2 a {
    color: #dec186 !important;
}

@media only screen and (max-width: 767px) {
    .section1-slider .slick-prev {
        left: 3px;
    }
    .section1-slider .slick-next {
        right: 3px;
    }
    .section2 {
        padding: 0;
    }
    .col.span_6.padding-out.make-it-res {
    }
    .para2 {
        padding: 0px 20px 10px 15px;
    }
    .para1 p {
        padding: 0px 0 7px 5px;
    }
    .para2 p {
        padding: 3px 0 7px 5px;
        margin-top: 0;
    }
    .section1 {
        background-color: #fff;
        padding: 0;
        margin: 0;
        min-height: 77vh;
    }
    .col.span_6.padding-out.make-it-res {
        padding: 10px;
        min-height: 38vh;
    }
    .section1 .back-button {
        top: 1%;
        left: 4%;
    }
    .section1 {
        padding-top: 38px;
    }
}
.glamitude h3,
.blue h3 {
    font-size: 13px;
}
.rswm-btn {
    text-align: right;
    padding: 30px 30px 0 80px;
}
.rswm-btn .common-btn {
    display: inline-block;
    background-color: white;

    z-index: 5;
    width: 100%;
    max-width: 140px;
    cursor: pointer;
    text-align: center;
    margin: 0 2px;
}
section#about_scroll_form {
    padding-top: 60px;
}
.rswm-btn .common-btn h3 {
    font-style: inherit;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px;
    max-width: 140px;
}
.rswm-btn .common-btn h3 a {
    text-decoration: none;
}
.rswm-btn.opposite-rswm-btn {
    text-align: left;
    padding: 30px 30px 0 30px;
}
.rswm-enquire.common-btn h3 {
    padding: 0;
}
.rswm-enquire.common-btn h3 a {
    padding: 12px;
    display: block;
}

@media only screen and (max-width: 767px) {
    section.productZommer.section2.mob-padding.odd,
    section.productZommer.section2.mob-padding.even {
        margin-bottom: 32px;
    }
    section.productZommer.section2.mob-margin.even.A2 {
        margin-bottom: 60px;
    }
    .rswm-btn {
        text-align: center;
        padding: 15px 30px 10px 30px;
    }
    .rswm-btn .common-btn {
        max-width: 130px;
    }
    .rswm-btn .common-btn h3 {
        padding: 10px;
        max-width: 130px;
    }
    section#about_scroll_form {
        padding-top: 40px;
    }
    .rswm-enquire.common-btn h3 a {
        padding: 10px;
    }
}
